/* --- Default Overrides - Personal Preference --- */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form>* {
    outline: none;
    text-align: center;
    margin: auto 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}


/* --- Clearfix for floated Elements --- */


/* I never ended up using this for the nav-bar */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/* --- Typography --- */

body {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    background-color: #eee;
    color: #666;
    margin-top: 60px;
    /* height of nav-bar */
}

p {
    line-height: 1.4;
}

.small-caps {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 0.7rem;
}

.bolder {
    font-weight: bolder;
}

.lighter {
    font-weight: lighter;
}

.text-center {
    text-align: center;
}

.site-logo {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    margin: 0 1rem;
}


/* --- Elements --- */

.container {
    max-width: 1200px;
    /* max 'width' of contents of site */
    margin: 0 auto;
    /* centered horizontally  */
}

.nav-bar {
    position: fixed;
    /* lock to top */
    top: 0;
    width: 100%;
    /* full width */
    background-color: white;
    height: 60px;
    box-shadow: 1px 1px 6px 1px #333;
}

.nav-bar .container {
    display: flex;
    align-items: center;
    /* vertically center */
    height: 100%;
}


/* Hide checkbox that controls Mobile Nav Button*/

#drop-down-cbox {
    display: none;
}


/* Mobile Nav Button */

#drop-down-cbox+label {
    position: relative;
    display: none;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-color: transparent;
    transition: all 300ms ease-in-out;
}


/* Mobile Nav Button Bars */

#drop-down-cbox+label span {
    position: absolute;
    display: block;
    background-color: #666;
    width: 34px;
    height: 4px;
    border-radius: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* centering trick */
    transition: all 300ms ease-in-out;
}


/* Mobile Nav Button Bars Invididually */

#drop-down-cbox+label span:nth-child(1) {
    top: 35%;
    /* evenly spaced */
}

#drop-down-cbox+label span:nth-child(2) {
    top: 50%;
    /* evenly spaced */
}

#drop-down-cbox+label span:nth-child(3) {
    top: 65%;
    /* evenly spaced */
}


/* Mobile Nav Button Styling for Checked */

#drop-down-cbox:checked+label {
    background-color: #666;
}

#drop-down-cbox:checked+label span {
    background-color: white;
}


/* Transform the bars into an 'X' */

#drop-down-cbox:checked+label span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    /* center, then rotate */
}

#drop-down-cbox:checked+label span:nth-child(2) {
    left: -150%;
    /* move center bar out of the picture */
}

#drop-down-cbox:checked+label span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    /* center, then rotate */
}


/* Main Nav Desktop */

.main-nav {
    flex-grow: 1;
    /* fill remaining space */
    display: flex;
    justify-content: space-around;
    /* evenly space items */
    align-items: center;
    /* center vertically */
}

.main-nav li {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    /* vertically center text, matches height */
    text-align: center;
}

.main-nav li a,
.main-nav li span {
    display: block;
    width: 100%;
    height: 100%;
}

.main-nav li a:hover,
.main-nav li span:hover {
    border-bottom: 4px solid #666;
}

.main-nav li>ul {
    max-height: 0px;
    /* max-height instead of height, height can't transition to auto */
    transition: all 500ms ease-in-out;
    overflow: hidden;
    /* make it so nav doesn't show beyond the 0px max-height */
}

.main-nav li:hover>ul {
    max-height: 180px;
    /* height x how many links */
    height: auto;
}

.main-nav li>ul li a,
.main-nav li>ul li span {
    background-color: white;
}

.main-nav li>ul li a:hover,
.main-nav li>ul li span:hover {
    background-color: #666;
    color: white;
    border-bottom: none;
}


/* Tablet and Mobile View */

@media (max-width: 768px) {
    .site-logo {
        font-size: 1.5rem;
        flex-grow: 1;
        text-align: center;
    }
    #drop-down-cbox+label {
        display: block;
        /* unhide the mobile nav button */
    }
    .main-nav {
        max-height: 0px;
        /* same vertical grow transition trick as above */
        height: calc(100vh - 60px);
        /* take full vertical viewport height, -60px for nav-bar */
        overflow: hidden;
        position: absolute;
        top: 60px;
        line-height: auto;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: white;
        transition: all 500ms ease-in-out;
    }
    #drop-down-cbox:checked~.main-nav {
        max-height: calc(100vh - 60px);
        transition: all 500ms ease-in-out;
    }
    .main-nav li span {
        position: relative;
    }
    /* design and position downward arrow */
    .main-nav li span:after {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        top: 50%;
        margin-top: -2px;
        margin-left: 8px;
        transform: translateY(-50%) rotate(-45deg);
        border-left: 2px solid #666;
        border-bottom: 2px solid #666;
    }
    .main-nav li a:hover,
    .main-nav li span:hover {
        background-color: #666;
        color: white;
        border-bottom: none;
    }
    .main-nav li>ul li {
        position: relative;
    }
    .main-nav li>ul li a,
    .main-nav li>ul li span {
        background-color: #eee;
    }
}


/* Typography */

html {
    font-size: 16px;
}

.main-heading {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 9px;
    text-transform: uppercase;
}

.subtext {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    margin: auto;
    height: 0px;
    color: #fff;
    font-family: 'Open sans', sans-serif;
    font-weight: 100;
    text-align: center;
    letter-spacing: 9px;
    text-transform: uppercase;
}

.container>h1 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.text-shadow {
    text-shadow: 1px 2px 4px #282828;
}

p {
    font-size: 16px;
    line-height: 1.5;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.sec-about a {
    text-decoration: underline;
}

.sec-contact .btn {
    text-transform: uppercase;
}

.soc-media-ul a {
    text-align: center;
    text-decoration: none;
}


/*=Base=*/

section {
    padding: 5em 0;
}

footer {
    padding: 3em 0;
}

@media screen and (max-width: 768px) and (min-width: 485px) {
    form {
        max-width: 70%;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

hr {
    margin: 3em;
}

img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 1px 1px 6px 1px #282828;
}


/* Background Colors */

.sec-about {
    background: #59ABE3;
}

.sec-folio {
    background: #336E7B;
}

.sec-contact {
    background: #1BA39C;
}

.sec-about,
.sec-folio,
.sec-contact {
    color: #fff;
}


/*Header*/

.navbar {
    box-shadow: 1px 1px 6px 1px #333;
}

.navbar-default {
    background: #fff;
}

.navbar .fa-external-link {
    vertical-align: top;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-brand:hover {
    color: #4B77BE;
}

.navbar-default .navbar-nav>li>a:active {
    color: #406bb0;
}


/*Main*/

.sec-main {
    height: 100vh;
    background: url("https://upload.wikimedia.org/wikipedia/commons/7/7e/St_Mary_Lake.jpg") no-repeat center center;
    background-size: cover;
}

.sec-main:after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2) !important;
}

.main-heading {
    padding: 0;
    margin: 70px auto;
    height: 40px;
    color: #fff;
}


/*= Portfolio Layout=*/

.sec-folio .row {
    margin-bottom: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: center;
}

.sec-folio img {
    max-width: 100%;
}


/*About*/

.sec-about a {
    color: #000;
}

.sec-about a:hover,
.sec-about a:focus {
    color: #4B77BE;
}


/* Contact */

.sec-contact .form-control:focus {
    border-color: #E9D460;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #E9D460;
}

.sec-contact .btn {
    padding: .5rem 1.5rem;
    background: #000;
    font-size: .95rem;
    color: #fff;
}

.sec-contact .btn:hover,
.sec-contact .btn:focus {
    background: #4B77BE;
    border-color: #395f9d;
}


/*Footer*/

footer {
    background: #000;
}

.soc-media-ul {
    display: flex;
    justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
    margin-left: 1em;
}

.soc-media-ul a {
    display: block;
    padding: 0.5em .65rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 50%;
    border: 2px solid;
}

.soc-media-ul a:hover,
.soc-media-ul a:focus {
    color: #4B77BE;
}